ion-content {
  --padding-start: 10px;
  --padding-end: 10px;
  --background: #f9f9f9;
}

ion-item {
  --border-color: #ddd;
  --inner-padding-end: 10px;
  --min-height: 90px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out;
}

ion-item:hover {
  transform: scale(1.01);
}

ion-thumbnail img {
  width: 120%;
  height: 120%;
  object-fit: cover;
  border-radius: 8px;
}

ion-thumbnail {
  width: 120px;
  height: 100px;
  margin-right: 10px;
  border-radius: 8px;
  overflow: hidden;
}

ion-label h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
  color: #222;
}

ion-label p {
  font-size: 14px;
  color: #555;
  margin: 0;
}
